.todo-form {
  display: flex;
  border-radius: 8px;
}

form {
  width: 60%;
  display: flex;
  justify-content: center;
} 

form input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  border: 1px solid rgb(209, 206, 206);
}

.button-3 {
  text-transform: capitalize;
  appearance: none;
  background-color: rgb(90, 90, 229);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 0 8px 8px 0;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: 1px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: rgb(90, 90, 229);

}

.button-3:focus {
  background-color: rgb(90, 90, 229);

  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: rgb(90, 90, 229);
  box-shadow: rgb(90, 90, 229) 0 1px 0 inset;
}

.search-block {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  border: 1px solid rgb(209, 206, 206);
  position: relative;
  border-radius: 10px;
}

.search-block input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0 35px;
  border-radius: 10px;
}

.search-block svg {
  position: absolute;
  left: 10px;
  top: 10px;
}
